# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration (Postgres)
DATABASE_URL=postgresql://usuário:senha@host:5432/nome_banco

# Clerk Authentication
CLERK_SECRET_KEY=sua_chave_secreta_aqui
CLERK_PUBLISHABLE_KEY=sua_chave_publica_aqui

# JWT Secret
JWT_SECRET=super-secret-key-change-me
